<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education plus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a th:href="@{/index}" class="navbar-brand">Home</a>

        <button class="navbar-toggler" type="btn btn-success" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container text-centered">
    <h4 class="text-centered">Търсене по критерии:</h4>
            <section class="bg-secondary text-light p-5 text-center text-sm-start">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div >
                        <label class="text-warning h3 display-flex"> Opportunity </label>
                        <select type="text" th:field="*{opportunity.description}" required>
                            <option th:each="op : ${listOpportunities}"
                                    th:text="${op.description}"
                                    th:value="${op.id}">
                            </option>
                        </select>
                    </div>
                    <div >
                        <label class="text-warning h3"> Interest </label>
                        <select type="text" th:field="*{interest.description}" required>
                            <th:block th:each="interest : ${listInterests}">
                                <option th:text="${interest.description}" th:value="${interest.id}"/>
                            </th:block>
                        </select>
                    </div>
                    <a class="btn btn-outline-info" href="#">Търси</a>
                </div>
            </div>

        </section>
</div>

<!--<div class="container centered" th:if="${LISTRECORDS != null & ${INTEREST_FELD}}">-->
<!--<div class="container centered" th:if="${}">-->
<div class="container centered">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th scope="col">Описание</th>
            <th scope="col">Местоположение</th>
            <th scope="col">Възможност</th>
            <th scope="col">Фирма</th>
            <th scope="col">Интереси</th>
            <th scope="col">Кандидатствай</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!--                    <td th:text="${offer.description}"></td>-->
            <!--                    <td th:text="${offer.location}"></td>-->
            <!--                    <td th:text="${offer.opportunity}"></td>-->
            <!--                    <td th:text="${offer.business}"></td>-->
            <!--                    <td th:text="${offer.interest}"></td>-->

            <td>
                <a class="btn btn-outline-info"
                >Кандидатствай</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--    </table>-->
<!--</div>-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>